<!DOCTYPE html>
<html>
<head>
	<title>Face Detection</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 	<style type="text/css">
 		.social-link {
		    width: 30px;
		    height: 30px;
		    border: 1px solid #ddd;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    color: #666;
		    border-radius: 50%;
		    transition: all 0.3s;
		    font-size: 0.9rem;
		}

		.social-link:hover, .social-link:focus {
		    background: #ddd;
		    text-decoration: none;
		    color: #555;
		}
 	</style>
    
</head>
<body>
	<header class="site-header fixed-top bg-dark border-bottom 	border-dark">
	    <div class="container">
		    <nav class="navbar main-nav navbar-expand-lg navbar-dark">
				<!-- Brand/logo -->
				<a class="navbar-brand d-inline-flex text-uppercase" href="home"> Face Detection </a> 
				
				<!-- Toggler/collapsibe Button -->
		        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-exponded="flase" aria-lable="Toggle navigation">
		            <span class="navbar-toggler-icon"></span>
		        </button>  

				<!-- Navbar links -->
				<div class="collapse navbar-collapse " id="navbarContent">
					<ul class="navbar-nav ml-auto">
					  	<li class="nav-item"> <a class="nav-link text-white" href="project_details"> Project Details </a></li>
					  	<li class="nav-item"> <a class="nav-link text-white" href="project"> Project </a></li>
					    <li class="nav-item"> <a class="nav-link text-white" href="about_us"> About Us </a></li>
					</ul> 
			    </div>
			</nav>
		</div>
	</header>
    <main id="about_us_content" style=" background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
    background: linear-gradient(to right, #e8cbc0, #636fa4);
    min-height: 100vh;">
        <div class="container py-5">
		    <div class="row text-center text-white py-3">
		        <div class="col-lg-8 mx-auto">
		        	<h1 class="display-4 ">Team Guide</h1> 
		        	<p class="lead mb-0">Don't waste your time with explanations,people only hear what they want to hear.</p>
		        </div>
		    </div>
		</div><!-- End -->

		<div class="container">
		    <div class="row text-center">

		        <!-- Team item -->
		        <div class="col-xl-12 col-sm-6 mb-5">
		            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
		                <h5 class="mb-0">Sri Swathi</h5><span class="small text-uppercase text-muted">assistant lecturer</span>
		                <ul class="social mb-0 list-inline mt-3">
		                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
		                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-github"></i></a></li>
		                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
		                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a></li>
		                </ul>
		            </div>
		        </div><!-- End -->
		        
		    </div>
        </div>
    	<div class="container py-5">
		    <div class="row text-center text-white">
		        <div class="col-lg-8 mx-auto">
		        	<h1 class="display-4 ">Our Team</h1> 
		        	<p class="lead mb-0">No matter how hard you work, someone else is working harder.</p>
		        </div>
		    </div>
		</div><!-- End -->


		<div class="container">
		    <div class="row text-center">

		        <!-- Team item -->
		        <div class="col-xl-4 col-sm-6 mb-5">
		            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C5603AQFC6LJwa0QZZg/profile-displayphoto-shrink_200_200/0/1592803932763?e=1628726400&v=beta&t=TUkrAQGi16DWXusJHoPJ1ulZ7lBZ-eUGxd6Nn9cZG8k" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
		                <h5 class="mb-0">Anand Yelloju</h5><span class="small text-uppercase text-muted">Team member</span>
		                <ul class="social mb-0 list-inline mt-3">
		                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
		                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-github"></i></a></li>
		                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
		                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a></li>
		                </ul>
		            </div>
		        </div><!-- End -->

		        <div class="col-xl-4 col-sm-6 mb-5">
		            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp3.licdn.com/dms/image/C4D03AQH661JmZ_tWmw/profile-displayphoto-shrink_800_800/0/1593176941579?e=1629936000&v=beta&t=UCk2KVrbTQZtrIwW8EXFxZ33BMWNcxvyi6Bd3NCEzUo" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
		                <h5 class="mb-0"> Suvarna Rao </h5><span class="small text-uppercase text-muted">Team member</span>
		                <ul class="social mb-0 list-inline mt-3">
		                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
		                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-github"></i></a></li>
		                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
		                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a></li>
		                </ul>
		            </div>
		        </div><!-- End -->

		        <div class="col-xl-4 col-sm-6 mb-5">
		            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
		                <h5 class="mb-0"> Ajay </h5><span class="small text-uppercase text-muted">Team member</span>
		                <ul class="social mb-0 list-inline mt-3">
		                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
		                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-github"></i></a></li>
		                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
		                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a></li>
		                </ul>
		            </div>
		        </div><!-- End -->

		    </div>
		</div>
    </main>
	
</body>
</html>